h1 {
    color: blue;
    text-align:center;
} 

h2 {
    color: skyblue;
    text-align:center;
}

p {
    text-indent: 50px;
    text-align:center;
}

img {
    width: 1250px;
    height: 1250px;
    display: block;
}

img:hover {
    width: 1890px;
    height: 1890px;
    transition:2s;
}

.table_of_contents_link {
    text-indent: 50px;
    font-size: 40px;
}

.image-gallery {
    display:grid;
    grid-auto-rows:100px;
    grid-row:1/span 2;
    justify-items:left;
}

.first-row-images {
    width:750px;
    padding:10px;
    margin:auto;
    border:solid;
    border-width:10px;
}

.second-row-images {
    width: 500px;
    padding: 10px;
    margin: auto;
    border: dashed;
    border-width:5px;
}

.third-row-images {
    width:250px;
    padding: 10px;
    margin: auto;
    border: solid;
    border-width:2.5px;
}

#background_1 {
    background-color: black;
}

#background_2 {
    background-color: darkgreen;
}

#background_3 {
    background-color: lightsalmon;
}

.header {
    font-size: 30px;
    font-weight: bold;
    border: dotted;
}

.content {
    font-size: 30px;
    border: dashed;
}

.footer {
    font-size: 30px;
    border: solid;
}
