h1 {
  color: blue;
}

h2 {
  color: skyblue;
}

img {
  width: 950px;
  height: 950px;
  float:right;
}

img :hover {
  width: 1000px;
  height: 1000px;
}
#background_1{
    background-color:black;
}

#background_2{
    background-color:darkgreen;
}

.header{
    font-size:30px;
    font-weight:bold;
    border:dotted;
}

.content{
    font-size:30px;
    border:dashed;
}

.footer {
    font-size: 30px;
    border: solid;
}
