h1 {
    color:dodgerblue;
    text-align:center;
}

h2 {
    color:lightskyblue;
    text-align:center;
}

p {
    color:paleturquoise;
    text-indent:50px;
    text-align:left;
}

a {
    color:cornflowerblue;
}

img {
    width:1200px;
    height:1200px;
    display:block;
}

img:active {
    width:1340px;
    height:1340px;
    transition:2s;
    margin:10px;
}

.table_of_contents_link {
    text-indent:50px;
    font-size:40px;
}

.image-gallery {
    display:grid;
    grid-row:1/span 2;
    grid-column:1/span 2;
    align-content:center;
    grid-template-rows:auto auto auto auto;
    grid-template-columns:auto auto auto auto;
}

#grid-image1 {
    grid-row-start:1;
    grid-row-end:1;
    grid-column-start:1;
    grid-column-end:1;
    width:350px;
    height:350px;
    padding:10px;
    margin:20px;
    border:solid;
    border-width:20px;
    border-color:darkblue;
}

#grid-image2 {
    grid-row-start:1;
    grid-row-end:1;
    grid-column-start:2;
    grid-column-end:2;
    width:350px;
    height:350px;
    padding:10px;
    margin:20px;
    border:solid;
    border-width:20px;
    border-color:darkblue;
}

#grid-image3 {
    grid-row-start:1;
    grid-row-end:1;
    grid-column-start:3;
    grid-column-end:3;
    width:350px;
    height:350px;
    padding:10px;
    margin:20px;
    border:solid;
    border-width:20px;
    border-color:darkblue;
}

#grid-image4 {
    grid-row-start:2;
    grid-row-end:2;
    grid-column-start:1;
    grid-column-end:1;
    width:400px;
    height:400px;
    padding:10px;
    margin:20px;
    border: dashed;
    border-width:15px;
    border-color:darkblue;
}

#grid-image5 {
    grid-row-start:2;
    grid-row-end:2;
    grid-column-start:2;
    grid-column-end:2;
    width:400px;
    height:400px;
    padding:10px;
    margin:20px;
    border: dashed;
    border-width:15px;
    border-color:darkblue;
}

#grid-image6 {
    grid-row-start:2;
    grid-row-end:2;
    grid-column-start:3;
    grid-column-end:3;
    width:400px;
    height:400px;
    padding:10px;
    margin:20px;
    border: dashed;
    border-width:15px;
    border-color:darkblue;
}

#grid-image7 {
    grid-row-start:3;
    grid-row-end:3;
    grid-column-start:1;
    grid-column-end:1;
    width:450px;
    height:450px;
    padding:10px;
    margin:20px;
    border: solid;
    border-width:10px;
    border-color:darkblue;
}

#grid-image8 {
    grid-row-start:3;
    grid-row-end:3;
    grid-column-start:2;
    grid-column-end:2;
    width:450px;
    height:450px;
    padding:10px;
    margin:20px;
    border: solid;
    border-width:10px;
    border-color:darkblue;
}

#grid-image9 {
    grid-row-start:3;
    grid-row-end:3;
    grid-column-start:3;
    grid-column-end:3;
    width:450px;
    height:450px;
    padding:10px;
    margin:20px;
    border: solid;
    border-width:10px;
    border-color:darkblue;
}

#background_1 {
    background-color: black;
}

#background_2 {
    background-color: darkgreen;
}

#background_3 {
    background-color: lightsalmon;
}

#background_4 {
    background-color:ghostwhite;
}

.header {
    font-size: 30px;
    font-weight: bold;
    border: dotted;
    border-color:aquamarine;
    margin:5px;
    padding:10px;
    border-width:5px;
}

.content {
    font-size: 30px;
    border: dashed;
    border-color:chartreuse;
    margin:5px;
    padding:10px;
    border-width:5px;
}

.footer {
    font-size: 30px;
    border: solid;
    border-color:forestgreen;
    margin:5px;
    padding:10px;
    border-width:5px;
}

th, td {
    border: lightblue 2px dashed; 
    background-color:blueviolet;
    color:floralwhite;
    width:1340px;
    height:250px;
    padding:10px;
    margin:20px;
}

table {
    border: blue 20px solid;
    background-color: blueviolet;
    color: floralwhite;
    width: 1340px;
    height: 250px;
    padding: 10px;
    margin: 20px;
}
